asgiref==3.4.1
certifi==2021.5.30
click==8.0.1
colorama==0.4.4
Flask==2.0.2
h11==0.12.0
importlib-metadata==4.8.1
itsdangerous==2.0.1
Jinja2==3.0.2
joblib==1.0.1
MarkupSafe==2.0.1
nltk==3.6.3
numpy==1.21.2
regex==2021.9.30
scikit-learn==1.0
scipy==1.7.1
sklearn==0.0
starlette==0.14.2
threadpoolctl==3.0.0
tqdm==4.62.3
typing-extensions==3.10.0.2
Werkzeug==2.0.2
wincertstore==0.2
zipp==3.6.0
